# Question No. 1:

Write a code to print the data present in the second row of the dataframe, df.

In [2]:


import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [3]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Question No.2:
What is the difference between the functions loc and iloc in pandas.DataFrame?

Answer:
loc is a label-based indexing method that is used to access rows and columns by labels or boolean arrays. The syntax of the loc method is df.loc[row_labels, column_labels]. Here, row_labels and column_labels refer to the row and column labels, respectively. loc returns a DataFrame that matches the specified labels.

iloc on the other hand, is an integer-based indexing method that is used to access rows and columns by integer position. The syntax of the iloc method is df.iloc[row_positions, column_positions]. Here, row_positions and column_positions refer to the integer positions of the rows and columns, respectively. iloc returns a DataFrame that matches the specified integer positions.

# Question No. 3:
Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [4]:
reindex = [3,0,1,2]

new_df = df.reindex(reindex)
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [5]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [6]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Yes, there is a difference in the outputs of new_df.loc[2] and new_df.iloc[2].

new_df.loc: Since the index of new_df is now [3, 0, 1, 2], new_df.loc[] will print the row at the label 2 in the index.

new_df.iloc: new_df.iloc[2] returns the row that has the integer position 2 in the index

 # Question No. 4:
Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [7]:
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.875287  0.824889  0.334553  0.421158  0.682579  0.759459
2  0.803377  0.175602  0.967201  0.103765  0.206595  0.926700
3  0.556963  0.519229  0.601558  0.487040  0.596764  0.783805
4  0.627964  0.507825  0.659290  0.962258  0.855117  0.670101
5  0.019628  0.631161  0.285799  0.802553  0.538772  0.769634
6  0.670498  0.267934  0.703429  0.954603  0.708179  0.438941

In [8]:
means=[]

for each_col in list(df1.columns):
    means.append(df1[each_col].mean())

print(f"Mean of each column: {means}")
print(f"Standard Deviation of column_2: {df1['column_2'].std()}")

Mean of each column: [0.5922861292225675, 0.4877733478064443, 0.5919716920942704, 0.6218961875108472, 0.5980010512961754, 0.724773589145627]
Standard Deviation of column_2: 0.2372249788318388

#Question No. 5:
Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [10]:
df1['column_2'].loc[2]='new_val'

In [11]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.875287  0.824889  0.334553  0.421158  0.682579  0.759459
2  0.803377   new_val  0.967201  0.103765  0.206595  0.926700
3  0.556963  0.519229  0.601558  0.487040  0.596764  0.783805
4  0.627964  0.507825  0.659290  0.962258  0.855117  0.670101
5  0.019628  0.631161  0.285799  0.802553  0.538772  0.769634
6  0.670498  0.267934  0.703429  0.954603  0.708179  0.438941

In [12]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Tne error is generated because one of the elements in the column is non-numeric (string), and while finding the mean the program is trying to add that string numeric value of the column, which is not possible

 # Question No. 6:
What do you understand about the windows function in pandas and list the types of windows functions?

# Answer:
In pandas, a window function is a way to apply a calculation to a specific subset of data, called a "window," that moves through the dataset. This allows for calculations to be made on a rolling or expanding basis, depending on the type of window function used.

The types of window functions available in pandas can be broadly classified into the following categories:

Rolling functions: These functions compute a rolling statistic over a defined window size. Examples include rolling mean, rolling sum, rolling standard deviation, etc.

Expanding functions: These functions compute a cumulative statistic over the entire dataset up to the current point. Examples include expanding sum, expanding mean, etc.

Exponentially weighted functions: These functions compute a rolling statistic with weights that decay exponentially as the distance from the current point increases. Examples include exponentially weighted mean, exponentially weighted standard deviation, etc.

Cumulative functions: These functions compute a cumulative statistic over the entire dataset up to the current point. Examples include cumsum, cummax, cummin, etc.

Aggregating functions: These functions perform a groupby-style operation on a rolling or expanding window. Examples include groupby.mean(), groupby.sum(), etc.

In [13]:
data_dict = {
    'current_date':['2023-02-26']
}

df = pd.DataFrame(data_dict)
df

  current_date
0   2023-02-26

df['current_date'].dt.month

df['current_date'].dt.year

# Question No. 8:
Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [ ]:
start_date = input("Enter first date: ")
end_date = input("Enter second date: ")

days_in_between = pd.date_range(start = start_date, end = end_date)
difference = len(days_in_between)

print(f'The difference between the first date and second date is {difference} days')

#First date entered: 2022-01-01
#Second date entered: 2022-02-01

# Question No. 9:
Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [ ]:
df= pd.read_csv("titanic dataset.ipynb")

In [ ]:
filepath = input('Enter the filepath: ')
column = input('Enter the column name: ')
order = input('Enter category order: ')

df = pd.read_csv(filepath)

df[column].astype('category')

if order=='ascending':
    df=df.sort_values(by = column, ascending= True)
elif order=='descending':
    df=df.sort_values(by = column, ascending= False)

df

#entered filepath: https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
#entered column: Pclass
#entered order: ascending

# Question No. 10:
Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
filepath = input('Enter filepath: ')

df = pd.read_csv(filepath)
df['Date'] = pd.to_datetime(df['Date'])
grouped = df.groupby(['Product', 'Date']).sum()
pivot = grouped.unstack(level=0)
pivot.plot(kind='bar', stacked=True)

#entered filepath: Product_sales.csv

# Question No. 11:
You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.

The program should do the following:

Prompt the user to enter the file path of the CSV file containing the student data
Read the CSV file into a Pandas DataFrame
Calculate the mean, median, and mode of the test scores using Pandas toolsR
Display the mean, median, and mode in a table.

In [ ]:
filepath = input('Enter Filepath: ')

df = pd.read_csv(filepath)

mean = df['Test_Score'].mean()
median = df['Test_Score'].median()
mode = df['Test_Score'].mode()

print("+----------+----------+")
print("Statistic | Value")
print(f"Mean:    {mean}")
print(f"Median:    {median}")
print(f"Mode:    {mode}")
print("+----------+----------+")

#entered fiepath: students_data.csv